body {
    background-color: #fff;
    padding: 0;
}

.backgroud {
    background-image: url('img/road_top.jpg');
    background-repeat: center;
    background-attachment: fixed;

}

div.lang a {
    color: #fff;
}

div.lang a:hover {
    color: #fb7b08;
}

.main-item {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

img.download-img {
    width: 200px;
}

.main-header {
    color: #fff;
}

.main-header h1 {
    margin-bottom: 1rem;
}

.main-header h3 {
    margin-bottom: 1rem;
}

section {
    background-color: #fff;
}

div.video-cont {
    padding: 2rem;
}

div.desc-cont {
    padding: 1rem 1rem;
    font-size: 20px;
}

div.img-block {
    width: 300px;
    height: 614px;
    padding-top:75px;
    padding-bottom: 70px;
    padding-left: 20px;
    padding-right: 20px;
    background-image: url(img/iPhone_6.png);
}

.carousel {
    max-width: 300px;
}

.carousel-item img {
    width: 260px;
    height: 463px;
}

div.feature {
    padding-left: 2rem;
    padding-right: 2rem;
}

footer div.container-fluid {
    background-color: #ddd;
}

div.top-social {
    padding: 2rem 4rem 0 0;
}

div.top-social i.fa-vk,
div.top-social i.fa-odnoklassniki-square,
div.top-social i.fa-facebook-square,
div.top-social i.fa-twitter-square {
    color: #101733;
}

div.top-social i.fa-vk:hover,
div.top-social i.fa-odnoklassniki-square:hover,
div.top-social i.fa-facebook-square:hover,
div.top-social i.fa-twitter-square:hover {
    color: #fb7b08;
}

div.social-wrap {
    padding: 2rem 1rem 1rem 3rem;
}

div.social-wrap p {
    color: #777;
}

div.social-wrap p a {
    color: #777;
}

div.social-wrap p a:hover {
    color: #fb7b08;
}

.fa-vk,
.fa-odnoklassniki-square,
.fa-facebook-square,
.fa-twitter-square {
    color: #777;
}

.fa-vk:hover,
.fa-odnoklassniki-square:hover,
.fa-facebook-square:hover,
.fa-twitter-square:hover {
    color: #fb7b08;
}
